body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

@page {
    size: a4 landscape;
    margin: 0;
}

.dont-print-that {
    display: none;
}

.title-container {
    padding-top: 55px;
}

.brake-page{
    padding-top: 66px;
    display: block;
    break-before: page;
}