body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    /* zoom: 69%; */
    transform: scale(calc(69 / 100));
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
    page-break-after: avoid;
    break-inside: avoid;
}

@page {
    size: a4 landscape;
    margin: 0;
    padding: 0;
}

.dont-print-that {
    display: none;
}