* {
  box-sizing: border-box;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #d8dee9;
}

button {
  border: none;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v145/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-osx-font-smoothing: grayscale;
}


.headers {
  overflow-y: scroll;
}

#titelNoNetwork {
  background-color: #bf616a;
  color: white;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}

.title-container {
  padding-top: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.title {
  margin-right: 25px;
  text-align: center;
  font-weight: 900;
  font-size: larger;
}

.info-Box {
  float: right;
}

.info-Heldag-Box {
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: green;
  height: 30px;
  width: 34px;
}

.info-Text {
  padding-left: 40px;
  font-weight: bold;
}

.info-Halvdag-Box {
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: white;
  height: 30px;
  width: 34px;
}

#checkMonthChangeProgressBar {
  width: 1%;
  height: 2px;
  background-color: #5e81ac;
  border-radius: 8px;
  transition: width 1s linear;
  padding: 0;
  margin: 0;
}

.column {
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#column {
  text-align: center;
}

.numer {
  font-weight: bold;
  text-align: center;
  background-color: white;
  width: 37px;
  height: 22px;
  padding: 0;
  margin: 0;
}

.numerCenter {
  text-align: center;
  margin-left: 110px;
}

.numerRow {
  display: inline-block;
  border: 1px solid black;
}

.nameContainer {
  border: 1px solid black;
  display: inline-block;
  width: 110px;
  height: 45px;
}

.name {
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  width: fit-content;
  display: flex;
  text-transform: uppercase;
}


.Row {
  display: inline-block;
  border: 1px solid black;
}


.Row-Heldag {
  background-color: green;
  float: right;
  width: 37px;
  height: 22px;
}

.Row-Halvdag {
  background-color: white;
  float: left;
  width: 37px;
  height: 22px;
}

.Row-weekend {
  background-color: red;
  color: red;
  font-size: 0px;
  float: left;
  width: 37px;
  height: 22px;
}

.full-width-button {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
}
.full-width-button:hover {
  cursor: pointer;
}

.Row-weekend .full-width-button {
  background-color: red;
}
.Row-weekend .full-width-button:hover {
  background-color: red;
  cursor: default;
}

.MenuButtons {
  color: #e5e9f0;
  background-color: #434c5e;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}

.MenuButtons:hover,
#MenuButtonExitFullScreen:hover {
  color: #bfb9b9;
}

#MenuButtonFullScreen,
#MenuButtonExitFullScreen {
  float: right;
}

#MenuButtonExitFullScreen {
  display: none;
  position: fixed;
  color: #e5e9f0;
  background-color: #434c5e;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-weight: 900;
  right: 0%;
  cursor: pointer;
}
#MenuButtonSwichDate{
  cursor: wait;
}

#MenuButtonDialogSaveAsJson{
  display: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

dialog {
  background-color: #d8dee9;
  border-radius: 8px;
  text-align: center;
}

button,
input[type=button] {
  outline: none;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner {
  border: 0;

}

.dialogTop {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.dialogButton_X {
  border-radius: 8px;
  text-align: center;
  background-color: green;
  color: white;
  font-weight: 900;
  height: 100px;
  width: 100px;
}

.dialogButton_X:hover {
  background-color: darkgreen;
}

.dialogButton_M {
  border-radius: 8px;
  text-align: center;
  background-color: green;
  color: white;
  font-weight: 900;
  height: 100px;
  width: 100px;
}

.dialogButton_M:hover {
  background-color: darkgreen;
}

.dialogButton_- {
  border-radius: 8px;
  text-align: center;
  background-color: crimson;
  color: white;
  font-weight: 900;
  height: 100px;
  width: 100px;
}

.dialogButton_-:hover {
  background-color: darkred;
}

.dialogButton_L {
  border-radius: 8px;
  text-align: center;
  background-color: orange;
  color: white;
  font-weight: 900;
  height: 100px;
  width: 100px;
}

.dialogButton_L:hover {
  background-color: darkorange;
}

.dialogButton_S {
  border-radius: 8px;
  text-align: center;
  background-color: crimson;
  color: white;
  font-weight: 900;
  height: 100px;
  width: 100px;
}

.dialogButton_S:hover {
  background-color: darkred;
}

#dialogRensa {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-weight: 900;
  font-size: large;
  height: 80px;
  width: 80px;
  float: left;
  margin-top: 2rem;
  margin-inline: 2rem;
}

#dialogRensa:hover {
  background-color: #555;
}

.dialogclose,
.dialogSwichDateclose {
  border-radius: 8px;
  text-align: center;
  background-color: crimson;
  color: white;
  font-weight: 900;
  font-size: large;
  height: 80px;
  width: 80px;
  float: right;
  margin-top: 2rem;
  margin-inline: 2rem;
  cursor: pointer;
}

.dialogclose:hover,
.dialogSwichDateclose:hover {
  background-color: darkred;
}

.dialogSwichDateclose {
  width: 100%;
  margin-inline: auto;
  float: none;
}

/* dialog button save */
.dialogSave {
  border-radius: 8px;
  text-align: center;
  background-color: seagreen;
  color: white;
  font-weight: 900;
  font-size: large;
  height: 80px;
  width: 80px;
  float: right;
  margin-top: 2rem;
}

.dialogSave:hover {
  background-color: darkgreen;
}

.dialogAddName {
  border-radius: 8px;
  text-align: center;
  background-color: green;
  color: white;
  font-weight: 900;
  font-size: large;
}

.dialogAddName:hover {
  background-color: darkgreen;
}


.dialogButtonSwichDate {
  border-radius: 8px;
  cursor: not-allowed;
  border-radius: 8px;
  text-align: center;
  background-color: gray;
  color: white;
  font-weight: 900;
  padding: 15px;
  margin: 0;
}

.dialogButtonSwichDate:hover {
  background-color: darkgray;
}

#dialogSwichDateButtons{
  visibility: hidden;
}

/*  */

.menuTitelEditDialog {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.gruppEditItem {
  display: inline;
  margin-inline: auto;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.nameEditItem {
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  font-size: 2rem;
  width: 250px;
  height: 45px;
  border-radius: 25px;
  margin: 0;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#nameEditContainer {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}

.editNameInArray {
  background-color: #434c5e;
  color: orange;
  cursor: pointer;
  height: 45px;
  margin-inline: 10px;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.editNameInArray:hover {
  color: darkorange;
}

.removeNameInArray {
  background-color: #434c5e;
  color: red;
  cursor: pointer;
  height: 45px;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.removeNameInArray:hover {
  color: darkred;
}



.dialogButtonPrintOld {
  border-radius: 8px;
  font-weight: 900;
  font-size: large;
  text-align: center;
  background-color: orange;
  color: black;
  padding: 0.1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.dialogButtonPrintOld:hover {
  background-color: darkorange;
}

.dialogButtonPrintCurrent {
  border-radius: 8px;
  font-weight: 900;
  font-size: large;
  text-align: center;
  width: 100%;
  background-color: green;
  color: black;
  padding: 1rem;
}

.dialogButtonPrintCurrent:hover {
  background-color: darkgreen;
}

.prinDialogTitel {
  text-align: center;
  margin: 0;
}

.viktigtMedelande {
  border-radius: 8px;
  background-color: #bf616a;
  color: white;
  padding: 5px;
  margin-inline: auto;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

#menuTopButtons {
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  max-width: 96rem;
  height: 100%;
  padding-bottom: 100px;
  background-color: white;
  width: max-content;
}

main:fullscreen,
#layoutEdit:fullscreen {
  overflow-y: scroll;
}

#layoutEdit {
  display: none;
  max-width: 96rem;
  min-width: 85rem;
  height: 100%;
  padding-bottom: 100px;
  background-color: white;
  text-align: center;
}

.AddNames {
  text-align: center;
}

#AddNamesBox {
  background-color: #d8dee9;
  width: 50rem;
  height: fit-content;
  display: block;
  margin-inline: auto;
  padding-bottom: 20px;
  margin-top: 10px;
}

noscript.viktigtMedelande {
  text-align: center;
  display: block;
}


#createNameForm {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 10px;
  font-weight: 900;
}

#createNameForm #newNameInput {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  font-weight: 900;
  cursor: text;
  margin: 10px;
  font-size: 18px;
}


#createNameForm input[type="submit"] {
  background-color: green;
  color: #e5e9f0;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  margin: 10px;
}

form button {
  color: #e5e9f0;
  background-color: #434c5e;
  border-radius: 8px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}

form button:hover,
#createNameForm input[type="submit"]:hover {
  color: #bfb9b9;
}

#createNameSelects {
  display: flex;
  margin-inline: auto;
  text-align: center;
  justify-content: center;
}

#createNameSelects select {
  font-size: 1rem;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #434c5e;
  font-weight: 900;
  color: white;
}

#createNameSelects label {
  font-weight: 900;
  display: block;
  width: max-content;
  margin-inline: auto;
}

#createNameSelects select#Mandag {
  background-color: green;
}

#createNameSelects select#Tisdag {
  background-color: blue;
}

#createNameSelects select#Onsdag {
  color: black;
  background-color: white;
}

#createNameSelects select#Torsdag {
  background-color: red;
}

#createNameSelects select#Fredag {
  color: black;
  background-color: yellow;
}

#dialogSwichDateBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
}